.exp-timeline-square {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}

.exp-timeline-square.days::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: var(--days-width-percent);
  height: 14px;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
