.exp-timeline-square {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}

.exp-timeline-square.non-active {
  background-color: #dedede;
}

.exp-timeline-container:hover .exp-timeline-popover {
  opacity: 1;
  transform: translate(-66px, -54px);
}

.exp-timeline-square.days::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: var(--days-width-percent);
  height: 14px;
  background-color: #9810fc;
}
