@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap");

:root {
  --text: #171717;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Oxanium", cursive;

  color: var(--text);
  overflow: hidden;
}

.avatar {
  border-radius: 4px;
}

.background-gradient {
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
